@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes blink {
  0% {
    z-index: 0;
  }

  100% {
    z-index: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(13deg);
  }
  100% {
    transform: rotate(0);
  }
}