{% extends "base.html" %}
{% block content %}
    <section class="imprint">
        <h1>Advertise on Pet Name Generator.</h1>
        <p>
            You want to advertise on this page? Great! Just contact me and I promise to integrate your ad into the site
            so that it fits.
        </p>
        <span class="mail">
            mail at: [[ad_mail]]
        </span>
        <p>or maybe...?</p>
        <div class="asger_food">
            <div>
                <a href="https://www.paypal.com/donate/?hosted_button_id=X3PWTGRATV5LQ">buy asger some
                    food?</a>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/asger_need_food.png') }}" alt="asger needs food">
            </div>
        </div>
        <h2>Thank you!</h2>
    </section>
{% endblock %}