<!doctype html>
<head>
    <title>{{ title }}</title>
    <base href="/">
    <meta name="apple-mobile-web-app-title" content="PiEase">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mr. Awesome!">
    <meta name="description" content="Your super simple Rapsberry Pi Framework">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="PiEase" name="apple-mobile-web-app-title">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>

</header>
<div class="content">
    <section id="app">
        {% block content %} {% endblock %}
    </section>
</div>
<footer>

</footer>

<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.js') }}"></script>
<script async src="{{ url_for('static', filename='js/app.js') }}" type="module"></script>
</body>