{% extends "base.html" %}
{% block content %}
    <div>
        <button @click="get_api('api/get_content', 'content')">get content</button>
        <section class="statistics">
            <p>names:[[statistics.general]] </p>
            <p>open:[[statistics.open]] </p>
        </section>
        <ul class="contentList">
            <li v-for="data in content_list">
                <span class="name">[[data.name]]</span>
                <span class="description">
                    [[data.description]]
                </span>
                <section class="tags">
                    <span class="tag" @click="change_content('sex', 'female',data.name)"
                          :class="{'active': data.sex === 'female'}">female</span>
                    <span class="tag" @click="change_content('sex', 'male',data.name)" :class="{'active': data.sex === 'male'}">male</span>
                    <span class="tag" @click="change_content('sex', 'dunno',data.name)"
                          :class="{'active': data.sex === 'dunno'}">dunno</span>
                </section>

                <section class="tags">
                    <span class="tag" @click="change_content('char', 'funny',data.name)"
                          :class="{'active': data.char === 'funny'}">funny</span>
                    <span class="tag" @click="change_content('char', 'serious',data.name)" :class="{'active': data.char === 'serious'}">serious</span>
                    <span class="tag" @click="change_content('char', 'godlike',data.name)" :class="{'active': data.char === 'godlike'}">godlike</span>
                </section>

                <section class="tags">
                    <span class="tag" @click="change_content('pet', 'cat',data.name)" :class="{'active': data.pet === 'cat'}">cat</span>
                    <span class="tag" @click="change_content('pet', 'dog',data.name)" :class="{'active': data.pet === 'dog'}">dog</span>
                    <span class="tag" @click="change_content('pet', 'racoon',data.name)"
                          :class="{'active': data.pet === 'racoon'}">racoon</span>
                </section>
            </li>
        </ul>
    </div>
{% endblock %}