{% extends "base.html" %}
{% block content %}
    <section class="imprint">
        <h1>Imprint / Privacy</h1>
        <h2>Contact information</h2>
        <p>anderswodenker</p>
        <p>Markus Daul</p>
        <p>Hitzing 6a</p>
        <p>37139 Adelebsen / Germany</p>
        <p>tel: [[tel]]</p>
        <p>mail: [[contact_mail]]</p>
        <p>tax number: 20/109/24481</p>


        <h2>Privacy Policies</h2>
        <span>english version</span>
        <p>
            The website works without Google, Facebook and Co. I do not collect specific user data and do not want to do
            so in the future. When you generate a name, I upload an anonymize counter that contains the click and a
            timestamp to get an idea of how many people use this generator.
            I also point out that I do not use cookies!
        </p>
        <h2>Datenschutz Erklärung</h2>
        <span>Deutsche Version</span>
        <p>
            Die Webseite arbeitet ohne Google, Facebook und Co. Ich erhebe keine spezifischen Nutzerdaten und will das
            auch in Zukunft nicht tun. Wenn man sich einen Namen generieren lässt, zähle ich einen anonymisierten
            Zähler hoch, der den Klick und einen Zeitstempel enthält, um eine Vorstellung davon zu bekommen, wie viele
            Menschen diesen Generator nutzen.
            Ich weise auch darauf hin dass ich keine Cookies benutze!
        </p>
    <h2>made with passion. ❤</h2>
    </section>
{% endblock %}