{% extends "base.html" %}
{% block content %}
    <section>
        <div class="start">
            <div class="startImage">
                <img src="{{ url_for('static', filename='images/piease-coding-small.png') }}" alt="">
            </div>
            <h1>{{ headline }}</h1>
            <div class="links">
                <a href="https://anderswodenker.github.io/piease/" target="_blank">docs</a>
                <a href="https://patreon.com/piease">app examples</a>
            </div>
            <p>
            </p>
        </div>
    </section>
{% endblock %}