{% extends "base.html" %}
{% block content %}
<h1>Sensor Rechts</h1>
<p>{{ sensor_rechts }} °C</p>
<h1>Sensor Links</h1>
<p>{{ sensor_links }} °C</p>

<h1>xs_Temp</h1>
<p>{{ xs_temp }}</p>

<h1>xs_Hysterese</h1>
<p>{{ xs_hysterese }}</p>


<div class="formWrapper">
    <h1 class="play-item center">Formular Test <span class="emoji"></span></h1>
    <form action="{{ url_for('post_hello') }}" method="post">
        <div class="input-wrapper">
            <div>
                <label class="name" for="form_xs_temp">
                    <input type="text" name="form_xs_temp" placeholder="xs_temp">
                </label>
            </div>
            <div>
                <label class="name" for="form_xs_hysterese">
                    <input type="text" name="form_xs_hysterese" placeholder="xs_hysterese">
                </label>
            </div>
            <div class="button-wrapper">
                <button type="submit">Hello</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}
